<div class="alert alert-danger alert-dismissable fade in">
  <button type="button" data-dismiss="alert" aria-label="close" class="close">
    <span aria-hidden="true">×</span>
  </button>
  <strong>Error!</strong>
  {{error}}
</div>
