<form action="#">

    <div class="jumbotron">
      <h2 class="display-5">Hello {{name}}</h2>
      <p class="lead">Login with your master password</p>
    </div>
    <h4 class="text-center">Master Password</h4>
    <h4> {{error}} </h4>
    <div class="form-group">
      <input id="login-password" data-toggle="password" type="password" class="form-control" placeholder="Password" required="required">
    </div>
    <div class="form-group">
        <button id="login-button" type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>
