<div class="jumbotron" id="dash-jumbo">
  <div class="container">
    <h2 class="display-5">Hello!</h2>
    <p class="lead">Here are all your passwords.</p>
    <p>You can click on a password to decrypt it using your master password.</p>
    <a id="add-pass-button" class="btn btn-primary" href="#" role="button">Add Password</a>
    <div class="divider"/>
    <a id="logout-pass-button" class="btn btn-danger" href="#" role="button">Logout</a>
  </div>
</div>
<div id="passFormEntry" class="jumbotron">
</div>
<ul class="list-group password_li">
  {{#each passtable}}
  <li onclick="App.showPasswordPopUp({{index}})" class="list-group-item password_li d-flex justify-content-between align-items-center">
    {{title}}
    <span class="badge badge-primary badge-pill">{{requests}}</span>
    </div>
  </li>
  {{/each}}
</ul>
